@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Paytone+One&family=Readex+Pro:wght@300;400;700&display=swap');

:root {
    --josefin-sans: 'Josefin Sans', sans-serif;
    --paytone-one: 'Paytone One', sans-serif;
    --readex-pro: 'Readex Pro', sans-serif;
}

[data-theme="light"] {
    --card-color: #E0A2A2;
    --tittle-color: #925C5C;
    --text-color: #876060;
    --input-color: #E6E6E6;
    --input-text-color: #876060;

    --bg-color: #FDCBCB;
    --btn-color: #925C5C;
    --btn-hover-color: #876060;
    --btn-text-color: #E6E6E6;

    --btn-icon-theme: #000;
    --btn-hover-icon: #ffffffcd;

    --red: #A72727;
    --green: #3FA555;
    --white: #F6F6F6;
}

[data-theme="dark"] {
    --card-color: #734848;
    --tittle-color: #E6E6E6;
    --text-color: #e0dbdb;
    --input-color: #e0dbdb;
    --input-text-color: #323232c4;

    --bg-color: #5a2a2d;
    --btn-color: #34181a;
    --btn-hover-color: #492d2f;
    --btn-text-color: #E6E6E6;

    --btn-icon-theme: #fff;
    --btn-hover-icon: #4f4e4e8b;

    --red: #711b1b;
    --green: #347642;
    --white: #F6F6F6;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 20px 120px 0 0;
}

.btn-theme {
    border: none;
    background: var(--btn-hover-icon);
    border-radius: 50px;
    cursor: pointer;
    color: var(--btn-icon-theme);
    font-size: 40px !important;
    padding: 2px;
    width: 50px;
    height: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}

.container {
    font-family: var(--readex-pro);
    color: var(--text-color);
}

.logo {
    margin-bottom:40px;
}

.container-texto {
    margin-left: 80px;
    margin-top: 20px;
}

.container-texto > h1 {
    font-size: 48px;
    padding-bottom: 20px;
}

#texto-meta {
    font-size: 38px;
}

#texto-data {
    font-size: 28px;
}

form > h1 {
    color: var(--tittle-color);
    font-size: 38px;
}

form > p {
    color: var(--text-color);
    font-size: 24px;
}

.imagem-porquinho  {
    position: absolute;
    width: 300px;
    right: 430px;
    top: 170px;
}

.container-valor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: var(--josefin-sans);
    color: var(--text-color);
    background-color: var(--card-color);
    width: 700px;
    height: 440px;
    gap: 38px;
}

input {
    background-color: var(--input-color);
    border-style: none;
    border-radius: 50px;
    width: 80%;
    height: 42px;
    font-family: var(--josefin-sans);
    font-size: 22px;
    color: var(--input-text-color);
    padding-left:20px;
}

#button-add {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--btn-color);
    border-radius: 50px;
    border-style: none;
    font-family: var(--josefin-sans);
    font-size: 24px;
    color: var(--btn-text-color);
    width: 230px;
    height: 42px;
    cursor: pointer;
}

#button-add:hover {
    background-color: var(--btn-hover-color);
}

.buttons-modify {
    display: flex;
    flex-direction: collunm;
    align-items: center;
    gap: 40px;
}

#button-somar {
    background-color: var(--green);
    color: var(--white);
    font-size: 30px;
    font-weight: 800;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

#button-subtrair {
    background-color: var(--red);
    color: var(--white);
    font-size: 30px;
    font-weight: 800;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

@media (max-width: 840px) {
    form {
        width: 600px;
    }

    img {
        width: 500px;
    }

    .container-texto > h1 {
        font-size: 38px;
    }

    .container-texto > #texto-meta {
        font-size: 30px;
    }

    .container-texto > #texto-data {
        font-size: 26px;
    }
}

@media (max-width: 690px) {
   form {
        width: 460px;

    }

    img {
        width: 400px;
    }

    .container-texto > h1 {
        font-size: 30px;
    }

    .container-texto > #texto-meta {
        font-size: 26px;
    }

    .container-texto > #texto-data {
        font-size: 22px;
    }

    form > h1 {
        font-size: 28px;
    }

    form > p {
        font-size: 20px;
    }

    input {
        height: 32px;
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    img {
        width: 300px;
    }

    form {
        width: 300px;
    }

    form > h1 {
        font-size: 22px;
    }

    form > p {
        font-size: 16px;
    }

    input {
        height: 32px;
        font-size: 18px;
    }

    .container-texto {
        margin: 30px;
    }
}